/*Exportamos la tipografia*/
@font-face {
    font-family: 'Volare Free';
    src: url('assets/VOLARE FREE.ttf');
}
/*Definimos los parametros que seguirá el div padre pues dentro de este irá todo*/
.root {
    position: relative;
    width: 100%;
    top: 0;
    padding-top: 56.25%; /* 9 / 16 * 100% */ /* Esto mantiene la relacion de aspecto 16:9*/
    background-image: url('assets/background_cover.png');
    background-size:cover;
}
/*Definimos los parametros que seguirá el icono de informacion*/
.info {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: none;
    top: 6.1%;
    left: 77.5%;
    cursor: pointer;
}
/*Definimos los parametros para el boton jugar*/
.play {
    position: absolute;
    width: 300px;
    height:75px;
    background-color: #DC8B19;
    top: 85%;
    left: 29%;
    cursor: pointer;
    border-radius: 10px;
    border-color: #DC8B19;
    box-shadow: 3px 5px 5px #A85020;
}
/*Definimos los parametros para el contenido del boton jugar*/
#id_play {
    color: white;
    font-size: 400%;
    font-family: 'Volare Free', sans-serif;
    font-weight: bold;
}
#id_play:hover {
    background-color: #EECF86;
    color: #D9673B;
}
/*Definimos los parametros para el div donde irá el titulo*/
.title {
    position: absolute;
    display: flex ;
    width: 35%;
    height: 55%;
    background-color: none;
    top: 20%;
    left: 38%;
    justify-content: center;
    align-items: center;
}
/*Definimos los parametros para el titulo*/
#id_title {
    color: white;
    font-size: 900%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
}
/*Definimos los parametros del modal*/
.infoModal {
    position: absolute;
    z-index: 1;
    left: -80%;
    top: 0;
    width: 75%;
    height: 100%;
    background-image: url('assets/background_cover.png');
    background-size: cover;
    color: white;
    transition: all 0.5s ease;
}
/*Definimos la posicion desde donde saldrá el modal*/
.infoModal.show {
    position: absolute;
    left: 0;
}
/*Definimos los parametros para el div donde irá la informacion*/
.divTextInfo {
    position: absolute;
    display: flex ;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 49%;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.6);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
/*Definimos los parametros para la informacion dentro del div*/
#id_divTextInfo {
    color: white;
    font-size: 500%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
}
/*Definimos los parametros para el boton*/
.infoButton {
    position: absolute;
    width: 20%;
    height: 10%;
    top: 85%;
    left: 41.9%;
    background-color:  #DC8B19;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border-color: #DC8B19;
    box-shadow: 3px 5px 5px #A85020;
}
/*Definimos los parametros para el texto en el boton*/
#id_infoButton {
    color: white;
    font-size: 350%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
}
#id_infoButton:hover {
    background-color: #EECF86;
    color: #D9673B;
}
/*Definimos los parametros para el modal donde se registrará el alias*/
.modalAlias {
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);  
}
/*Definimos los parametros que tendra el espacio donde van a ir labels, inputs y botones*/
.content {
    background-color: #EECF86;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #D9673B;
    box-shadow: 5px 3px 7px #D9673B;
    width: 65%;
    text-align: center;
    font-family: 'Volare Free', sans-serif;
    font-size: 300%;
    border-radius: 10PX;
}
/*Definimos los parametros para la entrada de texto*/
#alias{
    font-size: 150%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
    color: white;
    background-color: #06AAC2;
}
/*Definimos los parametros para el boton de continuar a jugar*/
#id_continue{
    font-size: 100%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
    background-color: #D9673B;
    cursor: pointer;
    border-radius: 10PX;
    box-shadow: 5px 3px 7px #D9673B;
}
/*Definimos que el boton cambie el color cuando el cursor este sobre el*/
#id_continue:hover{
    background-color: #EECF86;
    color: #D9673B;
}
/*Esta clase estará ejecutandose hasta que el boton continuar del modal de la orden de eliminarla*/
.wordsContainer {
    display: none;
}
/*Definimos los parametros para el div donde se mostrarán las palabras a memorizar*/
#id_wordsContainer {
    position: absolute;
    width: 55%;
    height: 81%;
    background-color: none;
    top: 12%;
    left: 28%;
    justify-content: center;
    align-items: center;
}

.words{
    position: absolute;
    background-color: #EECF86;
    width: 100%;
    height: 70%;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.choose{
    position: absolute;
    display: flex;
    background-color: none;
    width: 100%;
    height: 30%;
    top: 70%;
    align-items: center;
}
#id_yes{
    width: 50%;
    height: 90%;
    background-color: none;
    cursor: pointer;
    border-radius: 15PX;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
    font-size: 500%;
}
#id_no{
    width: 50%;
    height: 90%;
    background-color: none;
    cursor: pointer;
    border-radius: 15PX;
    font-family: 'Volare Free', sans-serif;
    text-align: center;
    font-size: 500%;
}
